body {
    font-family: Arial, sans-serif;
}

#sentiment-window {
    width: 300px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

#giger-meter {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
}

#giger-meter-bar {
    height: 100%;
    background-color: #4688F1;
    width: 0%;
}

#sentiment-score {
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
}
